body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.centered-login-img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.new-match-input {
  width: 40%;
  float: left;
  margin: 0px 15px;
}

.last-score-notif {
  position: fixed;
  right: 10px;
  top: 65px;
  width: 200px;
  cursor: pointer;
}

.connect-logo {
  height: 100%;
}

.close-icon {
  display: inline-block;
  position: absolute;
  top: 4px;
  right: 8px;
}

.not-ranked-tr {
  td {
    text-align: center;
    color: red;
  }
}

.modal-body {
  padding: 15px 15px 35px;
}

.bold-text {
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .hide-mobile {
    display: none;
  }
}
