<div style="margin-top: 10px;">
    <div class="panel panel-default">
        <div class="panel-heading" style="height: 57px;">
            <span style="line-height: 57px; ">Yours</span>
            <span style="float: right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-tournament-modal">
                    <i class="fa fa-plus"></i>
                    <span class="hide-mobile">Add tournament</span>
                </button>
            </span>
        </div>
        <div class="panel-body">
            <table class="table-hover table">
                <thead>
                  <tr>
                      <th>Name</th>
                      <th>Participants</th>
                      <th>Note</th>
                      <th>Time to start</th>
                      <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>#1</td>
                      <td>12</td>
                      <td>Hra sa o pivko</td>
                      <td>1h 12min 32s</td>
                      <td>
                          <button class="btn btn-primary">START</button>
                          <button class="btn btn-danger">CANCEL</button>
                      </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Open registration</div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                  <tr>
                      <th>Name</th>
                      <th>Creator</th>
                      <th>Note</th>
                      <th>Time to start</th>
                      <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>#1</td>
                      <td>Jakub Kanitra</td>
                      <td>Hra sa o pivko</td>
                      <td>1h 12min 32s</td>
                      <td>
                          <button class="btn btn-primary">JOIN</button>
                      </td>
                  </tr>
                  <tr>
                      <td>#1</td>
                      <td>Jakub Kanitra</td>
                      <td>Hra sa o pivko</td>
                      <td>1h 12min 32s</td>
                      <td>
                          <button class="btn btn-primary">JOIN</button>
                      </td>
                  </tr>
                  <tr>
                      <td>#1</td>
                      <td>Jakub Kanitra</td>
                      <td>Hra sa o pivko</td>
                      <td>1h 12min 32s</td>
                      <td>
                          <button class="btn btn-primary">JOIN</button>
                      </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">In progress</div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Winners</div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
</div>

