<div class="container">
    <ul class="nav nav-tabs">
        <li {{#ifCond tab '==' 'users'}}class="active"{{/ifCond}}>
            <a href="/">Ranking</a>
        </li>
        <li {{#ifCond tab '==' 'matches'}}class="active"{{/ifCond}}>
            <a href="/matches">
                Match history
            </a>
        </li>
        <div class="pull-right">
            <button type="button" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                <span class="hide-mobile">Add match</span>
            </button>
        </div>
    </ul>

    <div class="tab-content">
        {{#ifCond tab '==' 'users'}}
          {{> users-tab}}
        {{/ifCond}}

        {{#ifCond tab '==' 'matches'}}
          {{> matches-tab}}
        {{/ifCond}}

    </div>
</div>

{{> add-modal}}

<!-- notification small modal -->
{{#ifCond tab '==' 'users'}}
  {{#if showResult}}
      <div class="last-score-notif alert {{#if hasWon}}alert-success{{/if}} {{#unless hasWon}}alert-danger{{/unless}}">
          <h2>{{#if hasWon}}+{{/if}}{{submitPoints}} points</h2>
          <h3>Rank: {{actualRank}}</h3>

          <div class="close-icon">
              <i class="fa fa-times"></i>
          </div>
      </div>
  {{/if}}
{{/ifCond}}

<script>
    $(document).ready(function(){

        function calculateTime() {
            $('.timed-var').each(function(){
                var time = $(this).data('time');
                $(this).html(moment(time).fromNow());
            });
        }

        calculateTime();
        setInterval(function(){
          calculateTime();
        }, 5000);

        $('.last-score-notif').click(function(){
            $('.last-score-notif').hide();
        });
    });


</script>
