<div class="container">
    <ul class="nav nav-tabs">
        <li {{#ifCond tab '==' 'users'}}class="active"{{/ifCond}}>
            <a href="/">Ranking</a>
        </li>
        <li {{#ifCond tab '==' 'matches'}}class="active"{{/ifCond}}>
            <a href="/matches">
                Match history
            </a>
        </li>
        <li {{#ifCond tab '==' 'tournaments'}}class="active"{{/ifCond}}>
            <a href="/tournaments">
                Tournaments <span class="badge">Coming soon</span>
            </a>
        </li>
        <div class="pull-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-match-modal">
                <i class="fa fa-plus"></i>
                <span class="hide-mobile">Add match</span>
            </button>
        </div>
    </ul>

    <div class="tab-content">
        {{#ifCond tab '==' 'users'}}
          {{> users-tab}}
        {{/ifCond}}

        {{#ifCond tab '==' 'matches'}}
          {{> matches-tab}}
        {{/ifCond}}

        {{#ifCond tab '==' 'tournaments'}}
          {{> tournaments-tab}}
        {{/ifCond}}

    </div>
</div>

{{> add-modal fixed=false route="/add_match" first-prompt="Your" second-prompt="Oponent's"}}

{{> create-tournament-modal}}

<!-- notification small modal -->
{{#ifCond tab '==' 'users'}}
  {{#if showResult}}
      <div class="top-right-notification alert {{#if hasWon}}alert-success{{/if}} {{#unless hasWon}}alert-danger{{/unless}}">
          <h2>{{#if hasWon}}+{{/if}}{{submitPoints}} points</h2>
          <h3>Rank: {{actualRank}}</h3>

          <div class="close-icon">
              <i class="fa fa-times"></i>
          </div>
      </div>
  {{/if}}
{{/ifCond}}

<!-- error notification tab -->
{{#if error}}
  <div class="top-right-notification alert alert-danger">
    <h2>Error</h2>
    <div>
      {{error}}
    </div>
    <div class="close-icon">
      <i class="fa fa-times"></i>
    </div>
  </div>
{{/if}}

<script>
    $(document).ready(function(){

        setupTimers();

        activateLinkElements();

        $('.top-right-notification').click(function(){
            $(this).hide();
        });

        $('#tournament-start').datetimepicker({
            format: 'YYYY-MM-DDTHH:mm:ssZ',
            defaultDate: moment().toISOString()
        })

    });


</script>
