<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Connect tournament #13</h2>
            <h4>Single elimination</h4>
            <div>
                Obkec o com to je
            </div>
            <h3>Participants:</h3>
            <ul>
                <li>Jakub</li>
                <li>Brano</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <h2>Your next match:</h2>
            <div>
                Robert poliak
                <button class="btn btn-primary">Submit score</button>
            </div>
        </div>
    </div>
    <div class="row">
        <iframe src="http://challonge.com/YOUR_TOURNEY_URL/module" width="100%" height="300" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
    </div>
</div>
